{% extends "base.html" %}
    {% block content %}

        <!-- Trending Songs -->
        <section id="trendingsongs">
            <div class="row">
                <div class="col-6">
                    <div class="col-12 title">
                        TRENDING SONGS
                    </div>
                </div>
            </div>
            <section class="col-lg-12">
                <div class="row rp">
                    {% for trend in trends %}
                    <div class="col-lg-2">
                        <div class="hovereffect">
                            <img src="{{trend.trend_img.url}}" class="img-responsive img">
                            <div class="overlay">
                                <a class="btn btn-outline-light mt-5 mx-5" href="/trend/{{trend.id}}"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>
                            <center><h6 class="cap">{{trend.trend_name}}</h6></center>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </section>
        <!-- Trending Songs -->  
    
    {% endblock content %}   

